<nav-selector activeLink="contact"></nav-selector>
<div class="what-we-do">
    <p>Contact us using the stuff below:</p>
</div>
<div class="contact">
    <p>Contact Us</p>
    <form action="/new_movie" method="POST">
        <p>Name:</p>
        <input type="text" name="name" placeholder="">
        <p>Phone:</p>
        <input type="text" name="phone" placeholder="">
        <p>Email:</p>
        <input type="text" name="email" placeholder="">
        <p>Job Description:</p>
        <textarea name="description"></textarea>
        <input type="submit">
    </form>
</div>
