<!DOCTYPE html>
<html>
<head>
  <title>K & J Building and Development</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../styles/styles.scss">
</head>
<body>
  <div class="header">
    <img class="header-img right" src="../../assets/img/Engineer.png">
    <img class="header-img left" src="../../assets/img/Engineer.png">
    <div class="header-text">
      K & J Building and Development
    </div>
  </div>

  <div *ngIf='!blankPage'>
    <div id="fullPage">
      <div class="content">
        <div class="content-container" [ngClass]="{ 'align-center': pageData.alignCenter }" mcAutoHeightAdjust="145">
          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf='blankPage'>
    <router-outlet></router-outlet>
  </div>
</body>
</html>
