<nav-selector activeLink="jobs"></nav-selector>
<br><br>
<table>
    <thead>
        <tr>
            <th>JOB NAME</th>
            <th>LOCATION</th>
            <th>STATUS</th>
            <th>DATE ENTERED</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobs">
            <td><a class="btn btn-info btn-sm" (click)="childModal.show(job)">{{job.name.S}}</a></td>
            <td>{{job.location.S}}</td>
            <td>{{job.status.S}}</td>
            <td>{{job.create_date.S}}</td>
            <td>
                <img align="right" src="../../assets/img/trash.png" (click)="deleteJob(job)">
                <img align="right" src="../../assets/img/edit.png" (click)="editJob(blueprint)">
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <a class="btn btn-info btn-sm" (click)="addModal.show()">Add Job</a>
            </td>
        </tr>
    </tbody>
</table>
<common-modal  #childModal [title]="'Blueprints'">
    <div class="modal-body"></div>
</common-modal>
<common-modal #addModal [title]="'Add Job'">
    <div class="modal-body"></div>
</common-modal>
