<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-content select=".modal-body"> </ng-content>
            </div>

            <div *ngIf="blueprintMap" id = 'blueprint-list'>
                <ul>
                    <li *ngFor="let blueprint of blueprintMap | keyvalue">
                        <div (click)="getBluePrint(blueprint.value.S)">{{blueprint.key}}</div>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-default" (click)="hide()"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>
