.center-container {
  font-size: 24px;
  text-align: center;
  //background: url("../../assets/img/heavy_equipment.jpg") 50% 50% no-repeat rgba(0,0,0,0.25);
  background-size: cover;
}

.home-image {
  height: 450px;
}
